# ----- Framework -----
Kivy==2.3.0
Kivy-examples==2.3.0
Kivy-Garden==0.1.5

# ----- Testing -----
pytest==8.3.2
pytest-mock==3.14.0
pluggy==1.5.0
iniconfig==2.0.0

# ----- Images -----
pillow==10.4.0
imagesize==1.4.1

# ----- Html rendering -----
MarkupSafe==2.1.5
Jinja2==3.1.4

# ----- Packaging -----
packaging==24.1

# ----- Documentation -----
Sphinx==8.0.2
sphinx-basic-ng==1.0.0b2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
urllib3==2.2.2
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability

# formatting ReStructuredText
docutils==0.21.2
# Theme Sphinx
furo==2024.8.6
# Code highlighting
Pygments==2.18.0